!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Silfide"
    %meta{content: content_for?(:description) ? yield(:description) : "Silfide", name: "description"}/
    = javascript_include_tag "vendor/modernizr"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %main{role: "main"}
      .row
        = render 'layouts/messages'
        .large-12.columns
          - if content_for?(:title)
            %h1= yield(:title)
          = yield

